.body {
  background-color: #edeef2;
}

.header {
  display: flex;
  /*align-items: center;*/
  font-family: raleway, sans-serif;
  font-weight: 400;
  color: #000;
  padding-right: 60px;
  margin-top: 50px;
}

.header__link {
  display: flex;
  font-family: raleway, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  padding-left: 10px;
  margin: 0;
  text-decoration: none;
  line-height: 20px;
}

.header__list-item {
  list-style: none;
}

.header__list-item:hover {
  font-size: 19px;
  font-weight: 300;
  text-shadow: 2px 2px #fcc1e1;
}

.header__list-marker {
  list-style: none;
  margin-right: -29px;
}

.sticky-cta {
  display: block;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-left: 929px;
  margin-top: -26px;
  font-family: raleway, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #f07cbc;
  font-style: normal;
  height: 87px;
  backdrop-filter: blur(10px);
  width: 171px;
  height: 56px;
  text-align: center;
}

.sticky-cta__link {
  color: inherit;
  text-decoration: none;
  text-underline-offset: 5px;
}

.cover {
  display: block;
  position: relative;
  margin-top: 50px;
  width: 1100px;
  min-height: 757px;
  background-image: url("../images/marina_main.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 60%;
  z-index: -1;
}

.cover__title {
  position: relative;
  text-transform: uppercase;
  display: block;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  color: #f07cbc;
  width: 100%;
  padding: 165px 50px 137px;
  letter-spacing: 0.6em;
}

.aligned-text__left {
  display: block;
  text-align: left;
  letter-spacing: -0.4em;
}

.aligned-text__center {
  display: block;
  text-align: center;
  position: relative;
  top: 8px;
}

.aligned-text__right {
  display: block;
  text-align: right;
  position: relative;
  top: 10px;
  left: 29px;
}

.letter-spacing-extended {
  --start-spacing: 330px;
  --end-spacing: 30px;
  
  letter-spacing: var(--start-spacing);
  
  /* Стандартное свойство */
  animation: aurora 7s infinite alternate ease-in-out 0.5s;
  /* Префикс для Safari/iOS */
  -webkit-animation: aurora 7s infinite alternate ease-in-out 0.5s;
}

/* Префиксные keyframes для Safari/Telegram iOS */
@-webkit-keyframes aurora {
  from { letter-spacing: var(--start-spacing); }
  to { letter-spacing: var(--end-spacing); }
}

/* Стандартные keyframes */
@keyframes aurora {
  from { letter-spacing: var(--start-spacing); }
  to { letter-spacing: var(--end-spacing); }
}

.no-letter-spacing {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 19px;
  bottom: 51px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 51px 0 78px;
}

.cover__description-text {
  display: block;
}

.bet-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  word-spacing: 1px;
}

.bet-button:hover {
  font-size: 22px;
  font-weight: 500;
  text-shadow: 1px 1px #ee369b;
}

.bet-button__link {
  text-decoration: none;
}

.lots {
  display: block;
  width: 1100px;
  height: 100%;
  margin-top: 85px;
}

.lots__heading {
  display: block;
  position: relative;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin-left: 63px;
  padding-top: 48px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
  list-style-type: none;
  margin-left: 24px;
  margin-top: 27px;
  width: 1052px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 334px;
  min-height: 670px;
  z-index: 0;
  align-content: stretch;
}

.card__link {
  text-decoration: none;
}

.card_type_pers_v {
  background-image: url("../images/pers_v.jpeg");
}

.card_type_pers_t {
  background-image: url("../images/tren.jpeg");
}

.card_type_tren {
  background-image: url("../images/pers_t.jpeg");
}

.card_type_split {
  background-image: url("../images/split.jpeg");
}

.card_type_mini {
  background-image: url("../images/mini.jpeg");
}

.card_type_write {
  background-image: url("../images/write.jpeg");
}

.card__title {
  display: block;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
  padding-top: 51px;
  margin-left: 40px;
  margin-right: 40px;
  z-index: 1;
}

.card__title:hover {
  text-shadow: 1px 1px #ee369b;
}

.card__text {
  display: block;
  position: relative;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 18pt;
  color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 1;
}

.card__text:last-child {
  bottom: 30px;
  position: absolute;
  text-shadow: 1px 1px #ee369b;
}

.card_price {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18pt;
  color: #f07cbc;
  padding-bottom: 7px;
  padding-left: 40px;
  z-index: 1;
}

.price {
  display: block;
  position: relative;
  font-family: raleway, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 16pt;
  color: #f07cbc;
  padding-bottom: 7px;
  padding-right: 40px;
  z-index: 1;
}

.price:hover {
  text-shadow: 1px 1px #bfbdbd;
}

.price_link {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-decoration: none;
}

.price:last-child {
  padding-bottom: 48px;
}

.about {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 25px;
  width: 100%;
}

.about__logo {
  display: block;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url("../images/face.jpeg");
  background-repeat: no-repeat;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin-left: 48px;
  margin-top: 83px;
}

.disciption {
  display: block;
  position: relative;
}

.about__title {
  display: block;
  position: relative;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
  margin-top: 183px;
  margin-left: 71px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  max-width: 761px;
  margin-top: 100px;
  line-height: 18pt;
  padding-left: 71px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 178px;
  margin-left: 50px;
  margin-right: 50px;
  width: 1000px;
}

.footer__address {
  display: flex;
  flex-direction: column;
}

.footer__links-list {
  display: block;
  position: relative;
  text-align: center;
  font-size: 18px;
  padding-top: 2px;
  padding-left: 6px;
  text-underline-offset: 3px;
}

.footer__list-item {
  list-style-type: none;
}

.footer__link {
  text-decoration: underline;
  line-height: 20px;
}

.footer__link_active {
  text-decoration: none;
  text-underline-offset: 3px;
  line-height: 20px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: relative;
  gap: 48px;
  align-items: center;
  padding-bottom: 48px;
}

.social_networks {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.yt {
  background-image: url("../images/youtube.png");
}

.tg {
  background-image: url("../images/tg.png");
}

.inst {
  background-image: url("../images/inst.png");
}
@media (max-width: 760px) {
  .body {
    max-width: 100%;
    background-color: #020000;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    grid-template-rows: repeat(auto-fit, minmax(1px, 2fr));
    min-height: clamp(44px, 15vh, 200px);
    gap: 12px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 2px;
    padding: 12px 0;
  }

  .header__links-list {
    padding: 0 12px;
    margin: 0;
    list-style: none;
  }

  .header__list-item {
    margin: 0;
    padding: 0;
  }

  .header__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    background: #332f31;
    color: #eba7cd;
    line-height: 1.2;
    min-height: 44px;
    text-transform: uppercase;
    font-size: 13px;
  }

  .sticky-cta {
    top: 0;
    width: calc(100% - 24px);
    margin: 0 12px;
    padding: 10px 16px;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border: 1px solid #f8ddee;
    z-index: 100;
  }

  .sticky-cta__link {
    display: flex;
    background-image: url(../images/telegram-icon.png);
    width: 100%;
    height: 40px; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0px;
  }
  .cover {
   display: block;
   position: relative;
   margin-top: 12px;
   height: 100vh;
   width: 100vw;
  background-image: url("../images/main_mob.png");
  background-position-x: center;
  background-position-y: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.overlay {
  opacity: 60%;
  z-index: 2;
}

.cover__title {
  font-size: 50px;
  padding: 300px 1px 1px;
  z-index: 3;
}

.no-letter-spacing {
  letter-spacing: 29px;
}
.aligned-text__left {
  letter-spacing: 0px;
  margin-left: 23px;
}

.aligned-text__center {
  top: 0px;
}

.aligned-text__right {
  top: 1px;
  left: 1px;
  margin-right: 29px;
}

.letter-spacing-extended {
  --start-spacing: 120px;
  --end-spacing: 30px;
  
  letter-spacing: var(--start-spacing);
  
  /* Стандартное свойство */
  animation: aurora 7s infinite alternate ease-in-out 0.5s;
  /* Префикс для Safari/iOS */
  -webkit-animation: aurora 7s infinite alternate ease-in-out 0.5s;
}

/* Префиксные keyframes для Safari/Telegram iOS */
@-webkit-keyframes aurora {
  from { letter-spacing: var(--start-spacing); }
  to { letter-spacing: var(--end-spacing); }
}

/* Стандартные keyframes */
@keyframes aurora {
  from { letter-spacing: var(--start-spacing); }
  to { letter-spacing: var(--end-spacing); }
}
@supports (animation: aurora 1s) or (-webkit-animation: aurora 1s) {
  .letter-spacing-extended {
    letter-spacing: 120px;
    animation: aurora 7s infinite alternate ease-in-out 0.5s;
    -webkit-animation: aurora 7s infinite alternate ease-in-out 0.5s;
  }
}

.mobile_grad {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;       
  height: 250px;      
  z-index: 3; 
  pointer-events: none; 
  background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.cover__description {
  position: relative;
  padding: 0;
  font-weight: 200;
  font-size: 18px;
  margin-top: 180px;
  word-spacing: 10px;
  z-index: 4;
}

.cover__description-text {
  margin-inline-start: 5vw;
}

.bet-button {
  position: absolute;
  width: calc(100% - 24px);
  margin: 0 12px;
  bottom: 65px;     
  height: 50px;      
  z-index: 3; 
  font-weight: 500;
  font-size: 20px;
  text-shadow: 1px 1px #ee369b;
}

.lots {
  display: flex;
  width: calc(100% - 24px);
  margin-top: 100px;
}

.lots__card-list {
  margin-top: -150px;
  width: 100%;
}


.lots__heading {
  display: block;
  position: absolute;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  margin-left: 15px;
  margin-top: -240px;
  text-shadow: 1px 1px #ee369b;
}

.card {
  width: 100%;
  background-position: left;
}

.card__title {
  text-shadow: 1px 1px #ee369b;
  z-index: 3;
  position: relative;
}

.card__text {
  z-index: 3;
}

.card_price {
  font-weight: 700;
  font-size: 18px;
  line-height: 18pt;
  color: #f6a8d3;
  padding-bottom: 7px;
  padding-left: 0px;
  z-index: 3;
  border-radius: 15px;
  border-style: outset;
  padding-top: 40px;
  text-align: center;
  z-index: 3;
  backdrop-filter: blur(19px);
}
.price {
  font-weight: 900;
  font-size: 22px;
  line-height: 16pt;
  color: #f9eaf2;
  padding-bottom: 7px;
  padding-right: 0px;
  text-align: center;
  z-index: 3;

}
.card__text:last-child {
  bottom: 0px;
  margin-top: 419px;
  position: relative;
  font-weight: 600;
  font-size: 23px;
  z-index: 3;
}

.about__logo {
  position: absolute;
  width: 250px;
  height: 250px;
  margin-left: 60px;
}

.about__title {
  display: block;
  position: absolute;
  width: calc(100% - 24px);
  font-size: 40px;
  color: #ffffff;
  margin-left: 30px;
}

.about__text {
  display: block;
  position: absolute;
  width: 320px;
  color: #ffffff;
  margin-top: 350px;
  font-size: 22px;
  padding-left: 12px;
}
.footer {
  margin-top: 1000px;
  margin-left: 15px;
  width: 100%;
}

.footer__address {
  color: #edeef2;
  font-size: 0px;
}

.footer__links-list {
  display: block;
  position: relative;
  text-align: center;
  font-size: 18px;
  padding-top: 2px;
  padding-left: 6px;
  text-underline-offset: 3px;
}

.footer__list-item {
  list-style-type: none;
}

.footer__link {
  text-decoration: underline;
  line-height: 20px;
}


.footer__social-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: absolute;
  gap: 99px;
  align-items: center;
  padding-bottom: 48px;
}

.social_networks {
  display: block;
  background-color: #edeef2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  border: 1px solid #ccc;       /* внешняя рамка */
  border-radius: 8px;
}

}

}

